.sidenav{
    width: 100%;
    margin: 0;
    z-index: 100;
}
.cursor {
    cursor: pointer;
}

.active {
    border-left: 3px solid var(--pluto-green);
    background-color: var(--pluto-d-blue);
}

@media (min-width: 576px) {
    .sidenav {
        background: var(--pluto-e-blue);
        min-height: 100vh;
        width: 15vw;
        /*border: 1px solid red;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .sidenav {
        padding-top: 0;
    }
    .sidenav ul {
        display: flex;
        justify-content: space-between;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin: 0;
    }

    .sidenav ul li {
        margin: 0 !important;
        padding: 5px !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .active {
        border: none;
        border-bottom: 3px solid var(--pluto-green);
        background-color: var(--pluto-d-blue);
    }
}